/**
 * Find Pages By Template
 *
 * @author  Shaun Wall
 * @package Find Pages By Template
*/


/* General */
.wrap--fpbt h1 {
    margin-bottom: 25px;
}


/* Admin form */
.fpbt_form {
    margin-top: 25px;
}

.fpbt_form select {
    border-radius: 4px;
    height: 35px;
    padding: 0 10px
}

.fpbt_form button {
    background: #2980b9;
    border: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
    box-shadow: 0 3px 0 #006799;
}

.fpbt_form button:hover {
    background: #006799;
}


/* Alerts */
.fpbt-alert {
    background: #fff;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 4px;
}

.fpbt-alert.fpbt-alert--warning {
    background: hsla(45, 100%, 60%, .3);
    border: 1px solid hsla(45, 100%, 52%, .75);
}


/* Pages table */
.fpbt_page_table thead {
    background: hsla(0, 0%, 90%, 1);
}

.fpbt_page_table thead th {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.fpbt_page_table tbody {
    background: #fff;
}

.fpbt_page_table tbody tr:nth-child(even) {
    background: hsla(0, 0%, 96%, 1);
}

.fpbt_page_table tbody td {
    padding: 10px 15px;
}
